# Configuration Email (yagmail)
# Remplacez par vos vraies informations d'email
EMAIL_USER=votre-email@gmail.com
EMAIL_PASSWORD=votre-mot-de-passe-application

# Configuration Backend
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=True

# Configuration Frontend (pour la production)
# URL de l'API en production (avec le préfixe /api)
VITE_API_URL=https://v17.spring-coating.com/api

# Configuration Base de données
DATABASE_PATH=calculations.db